.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 70px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.content {
    padding: 2rem;
}

